<div class="page-section" id="team">
            <div class="container">
                <div class="section-title text-center" >
                <h2>From Telesim community</h2>
                <p>Our Team</p>
            </div>
                
                <hr class="divider my-4" />
                <div>
                    <section class="section section-grid">
                        <div>
                            <img width="250" src="assets/img/EUGENE_TUYISHIME.jpg" class="app-img" style="opacity:0.9;">
                           <h2>EUGENE TUYISHIME, M.D<span class="secondary-text dot">.</span></h2>
                           <p>
                            TUYISHIME is a Simulation Fellow at OhioHealth and an Anesthesiologist. He founded the Simulation 
                            for Health Africa Initiative. Currently the CEO of the Institute of Medical Education and 
                            Global Health (IMEGH). He has a Medical Degree, and a Master’s Degree in Global Health Delivery. 
                            He also have a Master of Medicine (MMED) in Anesthesiology. Dr. Tuyishime has won multiple grants totaling more than $75,000 and 
                            has co-authored multiple publications.
                           </p>
                       </div>
                       <div >
                            <img width="250" src="assets/img/KIRSTEN_STOKES.jpg" class="app-img">
                           <h2>KIRSTEN STOKES<span class="secondary-text dot">.</span></h2>
                           <p>
                            Kirsten has spent several years working for NGOs in the USA and internationally. 
                            Her passion includes expanding projects and programs in Africa that benefit the most vulnerable.
                            She currently leads a Christian organization that has fed over 35,000 children daily in schools, provides clean water/WASH, medical care, and promotes keeping 
                            girls in school in rural communities, and refugee settings. 
                           </p>
                       </div>
                        <div >
                            <img width="250" src="assets/img/MIKE_NSUBUGA.jpg" class="app-img" style="opacity:0.9;">
                           <h2>MIKE NSUBUGA<span class="secondary-text dot">.</span></h2><p>
                            Mike Nsubuga is a Bioinformatics Graduate trainee within the Infectious Diseases Institute (IDI), where he also serves as the IT specialist.
                            He is undertaking a Bioinformatics Graduate Training in preparation for his MSc. In Bioinformatics where he focuses on the use of 
                            computational approaches to understand biological data. He specializes in cloud computing, web, mobile, and virtual reality (VR) 
                            application development. In his final undergraduate year of study, before joining IDI, he volunteered as a junior Linux Systems Administrator at the College of Computing and Information Sciences.
                            </p>
                       </div>
                       <div >
                        <img width="250" src="assets/img/GJANJE_SMITH.jpg" class="app-img" style="opacity:0.9;">
                         <h2>GJANJE SMITH, MD, MPH<span class="secondary-text dot">.</span></h2>                <p>
                            Dr. Gjanje Smith is a board-certified urologist with fellowship training in Female Pelvic Medicine and Pelvic Reconstructive Surgery.
                            She has Bachelors Degree in Physiology and Neurobiology, and Medical Degree. 
                            In May 2020, she obtained a Master of Public Health and certificates in Global Health and Health Finance & Management from Johns Hopkins 
                            Bloomberg School of Public Health, and was inducted into the Delta Omega Public Health Honors Society.
                           She was a founding member of Liberians Against Ebola, raising awareness about the virus and by collecting and shipping approximately 10,000 
                           lbs of medical supplies to local hospitals and clinics, sanitary supplies 
                           to local communities, and food to a local clinic. She is also the founder of Susu Health Foundation.
                          </p>
                     </div>
                     <div>
                        <img  width="250" src="assets/img/SERGIO_NAVARRO.jpg" class="app-img" style="opacity:0.9;">
                         <h2>SERGIO M NAVARRO, MD, MBA<span class="secondary-text dot">.</span></h2> <p>
                            Dr. Sergio M Navarro is a resident physician in training completing his general surgery. 
                            He obtained his Bachelor in Science in Mechanical Engineering and History , MBA, and a medical degree . 
                            Dr. Navarro was a VP of Finance at Goldman Sachs in the Finance Division and had led multiple financing initiatives in Latin America, 
                            specializing in optimization analytics. He was a once a Global Initiatives research fellow developing a rapidly deployable mobile medical unit for Emergency Disaster Settings to be 
                            used in Liberia, winner of the USAID Ebola Challenge. He has also spent time in clinical settings in Zimbabwe, Cuba, and Nepal.
                            Dr. Navarro has co-founded two start-up companies, AUGMENTx, and Trinity Analytics.
                          </p>
                     </div>
                     <div >
                        <img width="250"src="assets/img/EBUBE_OFILI.jpg" class="app-img" style="opacity:0.9;">
                         <h2>EBUBE OFILI<span class="secondary-text dot">.</span></h2>                <p>
                            Ebube Ofili is Guidance Counsellor. He is the Founder of Habeet Games, an enterprise that develops video games for psychological and educational purposes.
                            He earned a Bachelor of Art and Education degree (double honors) from University of Lagos, Nigeria. He has designed educational curriculum, games and mixed reality applications for 
                            children and adults with special needs.
                          </p>
                     </div>
                   </section>             
                </div>
</div>

        