<section style="padding-bottom: 40px;">
    <section class="section section-stream">
        <img src="../../../assets/img/doctor.png" alt="" class="play rellax" data-rellax-speed="-1"
            data-rellax-xs-speed="-1">
        <div class="content rellax" data-rellax-speed="10">
            <div>
                <div class="section-title">
                    <h2>Community Build Up</h2>
                    <p>Take the next step toward goals with Telesim Solutions.</p>
                </div>
                <p style="max-width: 150hv ;">70% of people learning for professional development report career benefits
                    such as getting a promotion, a raise, or starting a new career.</p>
            </div>
            <a href="courses.html"><button class="btn btn-primary" type="submit">Join Now</button></a>
    
            </div>
        
    </section>
</section>