


.carousel-item {
  height: 100vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.form-control{
  width: 150px;
}

.btn.btn-primary
{
	box-shadow: none;
	padding: 6px 25px;
	border: none;
  border-radius: 5px;
  margin: 8px 8px;
	
}

.btn.btn-primary {
  background: #367c4a;
}

.navbar-nav {
  background-color: cornflowerblue;
}

.nav-item .nav-link {
  color: white;
  margin: 0 0.8rem;
  display: inline-block;
}

.nav-item .auth {
  color: rgb(36, 26, 26);
  background-color: rgb(14, 145, 14);
}