
h3 {
	margin-bottom: 10px;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	background-color: azure;
}

.section-title {
	padding-bottom: 40px;
  }
  
  .section-title h2 {
	font-size: 14px;
	font-weight: 500;
	padding: 0;
	line-height: 1px;
	margin: 0 0 5px 0;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: #aaaaaa;
	font-family: "Poppins", sans-serif;
  }
  
  .section-title h2::after {
	content: "";
	width: 120px;
	height: 1px;
	display: inline-block;
	background: #9ae1af;
	margin: 4px 10px;
  }
  
  .section-title p {
	margin: 0;
	margin: 0;
	font-size: 36px;
	font-weight: 500;
	
	font-family: "Poppins", sans-serif;
	color: #37423b;
  }
  
.section {
	position: relative;
	padding: 0 20px;
}


/* Section Stream */
.section-stream {
	min-height: 450px;
	
}

.section-stream h3 {
	font-size: 25px;
}

.section-stream .play {
	width: 27%;
	position: absolute;
	top: 100px;
	left: 80px;
}

.section-stream .content {
	position: absolute;
	width: 50%;
	top: 100px;
	font-size: 20px;
	font-weight: 100;
	font-family: "Poppins", sans-serif;
	right: 70px;
}

.section-stream .content > div {
	background: rgba(255, 255, 255, 0.1);
	padding: 20px;
	margin-bottom: 20px;
	border-radius: 10px;
}

/* Mobile */
@media (max-width: 700px) {
	.content,
	.section-stream .play,
	.section-stream .content {
		position: static;
		width: 100%;
	}
	
	.section-stream {
		min-height: 400px;
	}

	.section-stream .play {
		width: 50%;
		display: block;
		margin: 30px auto;
	}

}