<section class="my-5">
    <section class="section section-stream">
        <img src="../../../assets/img/7.png" alt="" class="play rellax" data-rellax-speed="-1"
            data-rellax-xs-speed="-1">

        <div class="content rellax" data-rellax-speed="10">
            <div>
                <div class="section-title">
                    <h2>ACCESSIBLE</h2>
                    <p>Find flexible, affordable options</p>
                </div>
                <p style="max-width: 10hv;"></p>
            </div>
        </div>
    </section>

</section>