<div id="popular-courses" class="courses">
    <div class="container my-5" >
            <div class="container">
                    <div class="section-title text-center" >
                    <h2>Achieve your goals</h2>
                    <p>Popular Courses</p>
                </div>
        
        <hr class="divider my-4" />

        <div class="row" b >

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                <div class="course-item">
                    <img src="assets/img/1course.jpg" class="img-fluid" alt="...">
                    <div class="course-content">
                        <div class="d-flex justify-content-between align-items-center mb-3">
                            <h4>Spectroscopy anatomy</h4>

                        </div>

                        <h3><a href="course-details.html">Spectroscopy anatomy</a></h3>
                        <p>Et architecto provident deleniti facere repellat nobis iste. Id facere quia quae dolores
                            dolorem tempore.</p>
                        <div class="trainer d-flex justify-content-between align-items-center">
                            <div class="trainer-profile d-flex align-items-center">

                                <span>Dr. Ana thomson </span>
                            </div>

                        </div>
                    </div>
                </div>
            </div> <!-- End Course Item-->

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
                <div class="course-item">
                    <img src="assets/img/2course.jpg" class="img-fluid" alt="...">
                    <div class="course-content">
                        <div class="d-flex justify-content-between align-items-center mb-3">
                            <h4>COVID-19</h4>

                        </div>

                        <h3><a href="course-details.html">COVID-19 Contact Tracking</a></h3>
                        <p>Et architecto provident deleniti facere repellat nobis iste. Id facere quia quae dolores
                            dolorem tempore.</p>
                        <div class="trainer d-flex justify-content-between align-items-center">
                            <div class="trainer-profile d-flex align-items-center">
                                
                                <span>Lana</span>
                            </div>

                        </div>
                    </div>
                </div>
            </div> <!-- End Course Item-->

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
                <div class="course-item">
                    <img src="assets/img/3course.jpg" class="img-fluid" alt="...">
                    <div class="course-content">
                        <div class="d-flex justify-content-between align-items-center mb-3">
                            <h4>Bioinformatics</h4>

                        </div>

                        <h3><a href="course-details.html">Bioinformatics</a></h3>
                        <p>Et architecto provident deleniti facere repellat nobis iste. Id facere quia quae dolores
                            dolorem tempore.</p>
                        <div class="trainer d-flex justify-content-between align-items-center">
                            <div class="trainer-profile d-flex align-items-center">
                                <span>Brandon</span>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>