<main id="main my-5">

    <div id="about" class="about" style="padding: 60px 0;
  overflow: hidden;">

        <div class="container" style=" padding-bottom: 40px;">

            <div class="section-title text-center">
                <h2>Mission</h2>
                <p>The Mission</p>
            </div>

            <div class="col-lg-6 text-center" style="max-width: 1000px;">

                <p>
                    Telesim Solutions is committed to addressing the needs of under-equipped healthcare workers in
                    low-resource settings by providing them with affordable medical training and education.
                </p>
            </div>

        </div>

        <div class="container" style=" padding-bottom: 40px;">

            <div class="section-title text-center">
                <h2>About</h2>
                <p>About Us</p>
            </div>
            <div class="col-lg-6 text-center-justify" style="max-width: 1000px;">

                <p>
                    An estimated 1 million health care workers in Africa lack access to affordable education,
                    training,
                    and mentorship. The current training modality for health care workers in surveillance and case
                    management of highly infectious diseases involves classroom and onsite practical instruction.
                    This
                    modality is impractical for a highly infectious disease like COVID-19 that requires rapid
                    training
                    to frontline healthcare workers while maintaining appropriate social distancing.

                    The current training modality is associated with two fundamental gaps/needs:<br> 1) In-person
                    training is difficult to deliver rapidly and at scale without exponentially increasing the costs
                    in
                    time and money. This represents a major weakness when facing a condition with an exponential
                    increasing infectious trajectory in a resource-limited setting.
                    <br> 2) In-person training also has a high probability of compromised social distancing
                    requirements
                    with risk of infection.
                </p>
                <a href="about.html" class="learn-more-btn text-center">Learn More</a>
            </div>
        </div>

        <div class="container" style=" padding-bottom: 40px;">

            <div class="section-title text-center">
                <h2>Our Solution</h2>
                <p> Solution </p>
            </div>
            <div class="col-lg-6 text-justify" style="max-width: 1000px;">

                <p>
                    We are developing an accessible delivery platform to provide low cost education and training at
                    scale using a combination of effective technologies to maximize reach and benefits to the most
                    remote, under-served communities in Africa. Our platform will deliver training rapidly and
                    effectively while ensuring appropriate social distancing, an intervention essential for the
                    protection of both the trainer and trainee against infectious diseases.
                </p>
                <a href="about.html" class="learn-more-btn">Learn More</a>
            </div>
        </div>

    </div>
</main>