<main id="main my-5">

    <div id="about" class="about" style="padding: 60px 0;
  overflow: hidden;">

        <div class="container" style=" padding-bottom: 40px;">

            <div class="section-title text-center">
                <h2>Mission</h2>
                <p>The Mission</p>
            </div>

            <div class="col-lg-6 text-center" style="max-width: 1000px;">

                <p>
                    Telesim Solutions is committed to addressing the needs of under equipped 
                    healthcare workers in Africa and other low resource settings by providing 
                    affordable, sustainable, and high impact education and training.
                </p>
            </div>

        </div>

        <div class="container" style=" padding-bottom: 40px;">

            <div class="section-title text-center">
                <h2>About</h2>
                <p>About Us</p>
            </div>
            <div class="col-lg-6 text-center-justify" style="max-width: 1000px;">

                <p>
                    An estimated 1 million health care workers in Africa lack access to affordable education,
                    training,
                    and mentorship. The current training modality for health care workers in surveillance and case
                    management of highly infectious diseases involves classroom and onsite practical instruction.
                    This
                    modality is impractical for a highly infectious disease like COVID-19 that requires rapid
                    training
                    to frontline healthcare workers while maintaining appropriate social distancing.

                    The current training modality is associated with two fundamental gaps/needs:<br> 1) In-person
                    training is difficult to deliver rapidly and at scale without exponentially increasing the costs
                    in
                    time and money. This represents a major weakness when facing a condition with an exponential
                    increasing infectious trajectory in a resource-limited setting.
                    <br> 2) In-person training also has a high probability of compromised social distancing
                    requirements
                    with risk of infection.
                </p>
                <a href="about.html" class="learn-more-btn text-center">Learn More</a>
            </div>
        </div>

        <div class="container" style=" padding-bottom: 40px;">

            <div class="section-title text-center">
                <h2>The Problem</h2>
                <p> Problem</p>
            </div>
            <div class="col-lg-6 text-justify" style="max-width: 1000px;">
                <p>
                    Healthcare workers across Africa need better access to education
                    and training to fight infectious diseases like COVID-19 and to 
                    strengthen the overall healthcare response in their communities.
                    Community Health Workers are a critical point of delivery for
                    prevention and treatment protocols in communities across Africa,
                    yet many lack resources to obtain ongoing education. As of 2013,
                    the needs-based health worker shortage in Africa was 4.2 million
                    and is estimated to reach 6.1 million by 2030. Additionally,
                    the demand for health workers in Africa is projected to double by 2030.
                </p>
                <a href="about.html" class="learn-more-btn">Learn More</a>
            </div>
        </div>

        <div class="container" style=" padding-bottom: 40px;">

            <div class="section-title text-center">
                <h2>Our Solution</h2>
                <p> Solution </p>
            </div>
            <div class="col-lg-6 text-justify" style="max-width: 1000px;">
                <p>
                    We’ve developed an omni-channel platform to deliver rapid and affordable training
                    and education to the health force in Africa during COVID19 and beyond. Our 
                    delivery platform uses a cloud-based service-oriented platform to deliver high 
                    data content that can be accessed with or without data and WIFI in low-resource 
                    settings, making it accessible across the continent. Learning can also be 
                    accessed through smart phone and responsive media channels. Additionally, 
                    through our platform we plan to offer advanced medical and surgical training to 
                    skilled healthcare providers through augmented reality hotspots. Healthcare 
                    workers are offered incentives to complete training through a series of 
                    shareable digital badges.
                </p>
                <a href="about.html" class="learn-more-btn">Learn More</a>
            </div>
        </div>

    </div>
</main>